<table class="results">
	<tbody>
	{{#results}}
		<tr>
			<td class="round">{{round}}. kolo</td>
			<td class="datetime"><time datetime="{{datetime}}"><span class="date">{{date}}</span> {{time}}</time></td>
			<td><span class="opponent">{{opponent}}</span> {{where}}</td>
			<td class="score">{{{pretty_score}}}</td>
			<td>Reportáž</td>
		</tr>
	{{/results}}
	</tbody>
</table>

<table class="fixtures">
	<tbody>
	{{#fixtures}}
		<tr>
			<td class="round">{{round}}. kolo</td>
			<td class="datetime"><time datetime="{{datetime}}"><span class="date">{{date}}</span> {{time}}</time></td>
			<td><span class="opponent">{{opponent}}</span> {{where}}</td>
		</tr>
	{{/fixtures}}
	</tbody>
</table>
