<table class="rankings" width="100%">
	<thead>
		<tr>
			<th>Tým</th>
			<th>Z</th>
			<th>B</th>
		</tr>
	</thead>
	<tbody>
	{{#rankings}}
	{{#separator}}
		<tr><td colspan="3">…</td></tr>
	{{/separator}}
	{{^separator}}
		<tr{{{row_attrs}}}>
			<td class="team">{{team}}</td>
			<td>{{matches_played}}</td>
			<td>{{points}}</td>
		</tr>
	{{/separator}}
	{{/rankings}}
	</tbody>
</table>
